body {
    background-color: rgb(66, 66, 66);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10vh;
}
.container {
    height: 15%;
    flex-direction: row;
    align-items: center;
    
}
.container, #resultPanel {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;

}
.buttons {
    
    padding: 5% 10%;
    background-color: beige;
    transition: all 0.3s;
    border-radius: 15px;
}
.buttons:hover {
    padding: 5.5% 11%;
    background-color: black;
    color: beige;


}

    